.bigBox{
    width:100%;
    height:200px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
[class^="smallBox"]{
    background-color: #ccc;
    margin:1%;
    width: 18%;
    height: 40%;
    background-color: pink;
    /* background-size:100% 100% */
}
.smallBox1_1:nth-child(1){
    /* display: block; */
    background:url(../drum/drum.svg);
    background-size:100% 100%
}
.smallBox1_1:nth-child(2){
    /* display: block; */
    background:url(../clock/clock.svg);
    background-size:100% 100%
}

.smallBox:hover{
    background-color: aqua;
    cursor:pointer
}