
  .heartBg{
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: #23ce78;
      transition: all 0.6s linear;
  }
  .heartBg1{
    background-color: #f5c108;
    opacity: 0;
    /* display: none; */
  }
  .heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    width: 10rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
  }
  .heart span {
    --c: lightblue;
    --h: 30%;
    --t: 25%;
    position: relative;
    width: 1em;
    height: var(--h);
    background-color: var(--c);
    border-radius: 0.5rem;
    top: var(--t);
    animation: beating 1.3s ease;
  }
  .heart span:nth-child(-n+4) {
    --c: #00830b;
  }
  .heart span:nth-child(5) {
    --c: #07a8a8;
    --t: 7rem;
  }
  .heart span:nth-child(n+6) {
    --c: #0070f0;
  }
  .heart span:nth-child(1),
  .heart span:nth-child(9) {
    --t: 0;
  }
  .heart span:nth-child(2),
  .heart span:nth-child(8) {
    --t: 2rem;
  }
  .heart span:nth-child(3),
  .heart span:nth-child(7) {
    --t: 4rem;
  }
  .heart span:nth-child(4),
  .heart span:nth-child(6) {
    --t: 6rem;
  }
  @keyframes beating {
    0%,
    10% {
      height: var(--h);
      top: var(--t);
      background-color: var(--c);
      filter: blur(0);
    }
    30%{
        filter: blur(5);
    }
    60%,
    70% {
      height: 50%;
      top: 25%;
      background-color: rgb(28, 155, 206);
      filter: blur(0);
    }
    80%{
        filter: blur(5px);
    }
  }
  